<div class="vis-ctrl-subblock">
  <h4 class="vis-ctrl-subtitle">Clustering</h4>
  <div>
    <label>Number of Clusters</label>
    <div class="inline-block">
      <input id="ml-num-clusters" class="form-control" value="{{numClusters}}" placeholder="eg: 3">
    </div>
  </div>
  <button id="ml-recluster" data-log-id="ml-recluster" class="btn btn-default">Re-cluster Data</button>
</div>
